body{
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
}
.ta-c{
    text-align: center;
}
.child-1{
    position: absolute;
    top: 0;
    z-index: 2;
    background-color: rgba(135, 206, 250, 0.205);
}
.child-2{
    color: white;
    position: absolute;
    margin-left: 5%;
    margin-right: 5%;
    top: 0;
    z-index: 1;
}
.child-2 p{
    color: whitesmoke;
    font-weight: 400;
}
.section-1{
    position: relative;
}
.navbar-brand{
    font-size: 'big';
    font-weight: 800;
    margin-left: 30px;
    margin-right: 30px;
}
.nv-itm{
    color: white;
    margin-right: 30px;
    padding: 0px 10px;
}
.nv-itm:hover{
    background-color: gold;
    color: white;
    border-radius: 5px;
}
.nav-btn{
    border: none;
    background-color: transparent;
}
.nav-btn:hover{
    color: white;
    background-color: gold;
    border-radius: 35px;
    padding: 5px 10px;
}
.begining-here{
    padding-top: 10%;
}
.begining-here span{
    font-weight: 700;
    color: white;
}
.begining-here span:hover{
    color: gold;
}
.col-lg-8{
    text-align: center;
}
#my-video{
    width: 100%;
}
.btn-1{
    border: none;
    background-color: gold;
    color: black;
    padding: 10px 20px;
    border-radius: 5px;
}
.btn-1:hover{
    background-color: transparent;
    color: white;
    border: 1px solid gold;
}
.first-para{
    text-align: center;
}
.icon-1{
    text-align: center;
    color: rgb(152, 82, 218);
}
.FC-1{
    text-align: center;
    margin: 0;
    padding: 10%;
}
.for-img img{
    width: 100%;
}
.for-text{
    margin-top: 0;
    padding: 5%;
}
.section-2{
    background-color: gold;
    padding: 5%;
}
.section-2 p{
    font-weight: 400;
}
.section-2 h6{
    font-weight: 600;
}
.buy-sell{
    display: flex;
}
.buy-sell .col-md-6{
    border: 1px solid gold;
    padding: 3%;
    background-color: gold;
}
.buy-sell .col-md-6:hover{
    transition: all 1s linear;
}
.box-1{
    margin-right: 3%;
}
.box-1 h6{
    font-weight: 600;
    text-align: left;
}
.box-1 p{
    font-weight: 200;
    text-align: left;
}
.box-2 h6{
    font-weight: 600;
    text-align: left;
}
.box-2 p{
    font-weight: 200;
    text-align: left;
}
.second-para{
    text-align: center;
}
.second-para p{
    font-size: 50px;
    font-weight: 0;
}
.section-3{
    position: relative;
    background-color: rgba(0, 0, 255, 0.603);
    color: white;
    padding: 5%;
}
.section-3 img{
    width: 100%;
    height: 400px;
}
.high img{
    width: 100%;
}
.list{
    list-style-type:none;
}
.for-designed-text{
    text-align: center;
}
.for-designed-text h3{
    font-size: 35px;
    font-weight: 400;
}
.for-designed-text span{
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.section-4 .card{
    border: none;
    background-color: none;
}
.section-4 .card-footer{
    border: none;
    background-color: white;
}
.tm-img img{
    border-radius: 48%;
    padding: 0% 10%;
}
.section-5{
    padding: 5%;
    background-color: #f7f7f7;
}
.section-5 .name{
    text-align: center;
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 2px;
    text-transform: uppercase;
}
/* .carousel-item img{
    padding: 0 30%;
    border-radius: 50%;
} */
#carousel img{
    width: 100%;
    border-radius: 50%;
    padding: 15%;
    top: 0%;
}
.section-6{
    padding: 5%;
    background-color: gold;
}
.connection-icon a{
    margin-left: 15px;
}
.footer{
    padding: 5%;
    background-color: rgba(0, 0, 0, 0.555);
}